body{
    background-color: lightseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
   // min-height: 100vh;
}
.container{
    max-width: 500px;
    width: 100%;
    position: relative;
}
#phonevalid,#checkvalid,#checkvalid1{
    color: red;
    visibility: hidden;
}

form{
    padding: 2rem;
    width:100%;
background-color: white;
border-radius: 12px;
margin-bottom: 2rem;
// position: absolute;
// top: 50%;
// transform: translateY(-50%) scale(.8);
//     opacity: 0;
//     z-index: 100;
}
// form.active{
//    // transform: translateY(-50%);
//     opacity: 1;
//     z-index: 200;
// }
.title{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;


}
.form-group{
    margin-bottom: 14px;
    
}
.form-group label{
    margin-bottom: 6px;
   // display: inline-block;
}
.input-group{
    width: 100%;
    position: relative;
}
.input-group input{
    padding:12px 40px 12px 20px;
outline: none;
border-radius: 8px;
border: 1px solid grey;
width: 85%;
}
.input-group i{
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    color: gray;
    pointer-events: none;
    transition: all .3s ease;
}
.form-group .help-text {
    color: grey;
    font-size: 12px;

}
//validation
.input-group input:focus,
.input-group input:not(:placeholder-shown){
    border-color: blue;
    background: lightgray;
}
.input-group input:focus{
    box-shadow: 0 0 0 4px var(lightseagreen);
}
.btn-submit{
    padding: 12px 0;
    //display: block;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    font-weight: 500;
    background: blue;
    transition: all .3s ease;
    width: 100%;
}
.btn-submit:hover{
    background: lightcoral;
}
a{
    color: blue;
    text-decoration: none;
}
a:hover{
    color: red;
}
