body {
  background-color: lightseagreen;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 16px;
}

.container {
  max-width: 500px;
  width: 100%;
  position: relative;
}

#phonevalid, #checkvalid, #checkvalid1 {
  color: red;
  visibility: hidden;
}

form {
  padding: 2rem;
  width: 100%;
  background-color: white;
  border-radius: 12px;
  margin-bottom: 2rem;
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 14px;
}

.form-group label {
  margin-bottom: 6px;
}

.input-group {
  width: 100%;
  position: relative;
}

.input-group input {
  padding: 12px 40px 12px 20px;
  outline: none;
  border-radius: 8px;
  border: 1px solid grey;
  width: 85%;
}

.input-group i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 20px;
  color: gray;
  pointer-events: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.form-group .help-text {
  color: grey;
  font-size: 12px;
}

.input-group input:focus,
.input-group input:not(:placeholder-shown) {
  border-color: blue;
  background: lightgray;
}

.input-group input:focus {
  -webkit-box-shadow: 0 0 0 4px var(lightseagreen);
          box-shadow: 0 0 0 4px var(lightseagreen);
}

.btn-submit {
  padding: 12px 0;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  font-weight: 500;
  background: blue;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  width: 100%;
}

.btn-submit:hover {
  background: lightcoral;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: red;
}
/*# sourceMappingURL=styles.css.map */